body{
    margin: 0;
    background-color: lightgray;
}

.to-do-list {
    background-color: gray;
    margin: 5% 10% 0%;
    overflow: hidden;
}

label {
    display: block;
}

label+input {
    display: inline-block;
    width: 60%;
    margin: 5% 0% 5% 10%;
}

input {
    height: 2em;
    font-size: 1em;
}

.todo {
    text-align: center;
    font-size: 2.5em;
    margin-top: 5%;
}


.button {
    background-color: lightgray;
    font-size: 1em;
    border: 1px solid black;
    height: 2.5em;
    margin: 0;  
}

.li {
    font: 3em;
}

.ul {
    text-align: left;
    overflow: hidden;
    list-style-type: none;
    background-color: white;
    margin: 0% 10%;
    padding: 2em;
    line-height: 1.5em;
}

.done {
    text-decoration-line: line-through;
}

.xbutton {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid dimgray;
    border-radius: .5em;
    background-color: lightgray;
    height: 30px;
    width: 20px;
}

.xbutton:hover {
    color: cornflowerblue;
    background-color: dimgray;
}
    
.remove {
    float: right;
    overflow: hidden;
}